:root {
  --main-color: #fc9a19;
  --main-color-light: #ffb24d;
  --secundary-color: #0072b0
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Comic Neue', cursive;
}

main {
  overflow-x: hidden;
}


.banner-top {
  background-color: black;
  color: white;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 20rem;
}

.banner__title {
  z-index: 1;
  width: 100%;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__title img{
  height: 4rem;
}

.banner__picture {
  width: 100%;
  z-index: 0;
}

.motto {
  text-align: center;
  padding: 1rem;
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
}

.time-remaining {
  background-color: black;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}

.time-remaining p {
  font-size: 1.5rem;
  font-weight: 200;
}

#days-remaining {
  text-align: center;
  width: 100%;
  font-size: 4rem;
  font-weight: 800;
}

.award {
  background-color: var(--main-color);
  padding: 1rem;
  font-weight: 800;
  display: flex;
}

.award h2 {
  background-color: black;
  padding: 0.5rem;
  color: white;
  display: inline;
  font-size: 2rem;
}

.award p {
  display: inline;
  padding: 0.5rem;
  font-size: 2rem;
}

main {
  padding: 1rem;
  background-color: #ccc;
}

section {
  background-color: white;
  border-radius: 1rem;
}

article {
  padding: 1rem;
  margin: 2rem 0;
}

section h2 {
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem;
  display: inline-block;
  position: relative;
  top: 1rem;
}

li {
  margin: 2rem;
}

footer {
  background-color: gray;

}

.social-icon img {
  width: 50px;
}

.contact {
  padding: 1rem;
  background-color: white;
}

.contact h2 {
  font-size: 20px;
  font-weight: 200;
}

.contact a {
  color: black;
  margin: 0.5rem 0;
  display: block;
  text-decoration: none;
}

.copyright {
  color: white;
  text-align: center;
  padding: 2rem;
}

